/* Usage */

/* 
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

@font-face {
  font-family: "calligraffiti";
  src: url(/fonts/Calligraffiti-webfont.eot?96ee688f554911a42df55f3cf3c2ba13);
  src: url(/fonts/Calligraffiti-webfont.eot?96ee688f554911a42df55f3cf3c2ba13) format("embedded-opentype"), url(/fonts/Calligraffiti-webfont.woff?52290171033df1b3783af841c37b6e38) format("woff"), url(/fonts/Calligraffiti-webfont.ttf?ca060bc59c99b6b07893080d686c89ef) format("truetype"), url(/fonts/Calligraffiti-webfont.svg?20c201a17539fd201a1ea166e451bc4b) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorant";
  src: url(/fonts/CormorantGaramond-Regular-webfont.eot?5f0326360d246f15004d7b2201467bd8);
  src: url(/fonts/CormorantGaramond-Regular-webfont.eot?5f0326360d246f15004d7b2201467bd8) format("embedded-opentype"), url(/fonts/CormorantGaramond-Regular-webfont.woff?b03182edee3c487492f439a29be2fdc3) format("woff"), url(/fonts/CormorantGaramond-Regular-webfont.ttf?025104a67f4e9a172005ed1018f95e79) format("truetype"), url(/fonts/CormorantGaramond-Regular-webfont.svg?d2ecfc8a5458487dc01cc488239d6716) format("svg");
  font-weight: normal;
  font-style: normal;
}

.fancy {
  display: inline-block;
  width: 130px;
  margin: 7px;
}

.fancy img {
  box-shadow: 10px 10px 30px #25313F;
  width: 100%;
}

.fancy img.rond {
  border-radius: 50%;
}

