/node_modules
/storage/app/public
/public/storage
/public/uploads
/public/tools
/Themes
/resources/views/themes
/app/Http/Controllers/Themes
/app/Http/Requests/Themes
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
.env
*~
*.swp
*.swo
*.vim
