/node_modules
/storage/app/public
/public/storage
/public/uploads
/public/tools
**/[Tt]hemes
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.htaccess
.env
*~
*.swp
*.swo
*.vim
/.dockerignore
/Dockerfile
