/node_modules
/storage/app/public
/public/storage
/public/uploads
/public/tools
/public/mix-manifest.json
**/[Tt]hemes
!/public/js/tinymce/themes
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
.env
nohup.out
package.json
*~
*.swp
*.swo
*.vim
/.dockerignore
/Dockerfile
**/composer.lock
**/package-lock.json
