@font-face {
  font-family: "cuprum";
  src: url(/storage/grands_chemins/fonts/Cuprum-Regular-webfont.eot?f63f41c6b4686eb96b99a0356e9feab7);
  src: url(/storage/grands_chemins/fonts/Cuprum-Regular-webfont.eot?f63f41c6b4686eb96b99a0356e9feab7) format("embedded-opentype"), url(/storage/grands_chemins/fonts/Cuprum-Regular-webfont.woff?8b055f01b73ad5dc771b2428fdecc34e) format("woff"), url(/storage/grands_chemins/fonts/Cuprum-Regular-webfont.ttf?23013f8c3bf5119ab1433b93d0d3ce03) format("truetype"), url(/storage/grands_chemins/fonts/Cuprum-Regular-webfont.svg?bdeae6fbe3174f09de582b271ca5e2c9) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quantico";
  src: url(/storage/grands_chemins/fonts/Quantico-Regular-webfont.eot?2be623cab2e6f9315651a299ee196242);
  src: url(/storage/grands_chemins/fonts/Quantico-Regular-webfont.eot?2be623cab2e6f9315651a299ee196242) format("embedded-opentype"), url(/storage/grands_chemins/fonts/Quantico-Regular-webfont.woff?0583fdde25c011611c5445d79f1b8275) format("woff"), url(/storage/grands_chemins/fonts/Quantico-Regular-webfont.ttf?908d7f02d11e5574d29bdcb07f9d8408) format("truetype"), url(/storage/grands_chemins/fonts/Quantico-Regular-webfont.svg?fbf82ccab6b378f678a49bcb911dde15) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*17a2b8*/

/* Usage */

/* 
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

.rubrique-container {
  position: relative;
  position: relative;
}

.rubrique-container .btn-destroy {
  z-index: 100;
  position: absolute;
  right: 95%;
  top: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
}

.rubrique-container:hover .btn-destroy {
  display: block;
}

.rubrique-container .btn-publish {
  z-index: 100;
  position: absolute;
  right: 91%;
  top: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
}

.rubrique-container:hover .btn-publish {
  display: block;
}

.after-rubrique [class*=col-] {
  transition: all 0.8s ease;
  position: relative;
}

.after-rubrique [class*=col-] .btn-destroy {
  z-index: 100;
  position: absolute;
  right: 0px;
  top: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
}

.after-rubrique [class*=col-]:hover .btn-destroy {
  display: block;
}

.after-rubrique .row {
  position: relative;
}

.after-rubrique .row .bloc-button,
.after-rubrique .row .cols-button {
  font-size: initial;
  position: absolute;
  top: -6rem;
  z-index: 1300;
}

.after-rubrique .row .bloc-button .dropdown-menu,
.after-rubrique .row .cols-button .dropdown-menu {
  right: 0;
  left: inherit;
  text-shadow: none;
}

.after-rubrique .row .bloc-button {
  right: 0px;
}

.after-rubrique .row .cols-button {
  right: 130px;
}

.after-rubrique .row .dropdown-item {
  cursor: default;
}

#replacement {
  color: black;
}

#sidebar {
  font-family: "cuprum", monospace;
  background-color: #525252;
  color: #FDFFFC;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition: all 0.3s;
  margin-left: -250px;
  z-index: 2000;
}

#sidebar a {
  color: #FDFFFC;
}

#sidebar.active {
  margin-left: 0px;
}

#sidebar #fixed-sidebar {
  position: fixed;
  width: 250px;
  z-index: 500;
  top: -30px;
}

#sidebar #fixed-sidebar .sidebarCollapse.btn {
  position: relative;
  right: -270px;
  top: 90px;
}

#sidebar #fixed-sidebar .chevron:hover {
  opacity: 0.7;
}

#sidebar .sidebar-header {
  text-align: center;
  padding: 20px;
  background: #454545;
}

#sidebar ul {
  /*li.active > a, a[aria-expanded="true"] {
    color: $white;
    background: #6d7fcc;}*/
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul h4 {
  text-align: center;
  padding: 10px;
}

#sidebar ul li {
  font-size: 1rem;
}

#sidebar ul li a {
  color: #FDFFFC;
  padding: 10px;
  font-size: 1.1em;
  display: block;
  cursor: pointer;
}

#sidebar ul li a:hover {
  color: #454545;
  background: #a3a3a3;
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: #6b6b6b;
}

#sidebar ul ul ul a {
  background: #525252;
}

#sidebar ul .sidebarCollapse {
  text-align: right;
  font-size: 1.8em;
  margin-right: 15px;
  cursor: pointer;
}

#sidebar a[data-toggle=collapse] {
  position: relative;
}

#sidebar .dropdown-item {
  cursor: pointer;
}

#drag-mode .dropy img {
  max-width: 100%;
  height: auto;
}

#drag-mode .dropy iframe {
  max-width: 100%;
}

#drag-mode .dropy {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#drag-mode .dropy .upper {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
}

#drag-mode .large-bloc .dropy {
  height: 60px;
}

#drag-mode .dropzone {
  flex: none;
}

#drag-mode .indropzone {
  border: 1px #a3a3a3 solid;
}

.bootstrap-datetimepicker-widget .table {
  background-color: unset;
}

.mce-edit-focus {
  border: 1px #a3a3a3 solid;
}

#categories-checkbox,
#categories-container {
  max-height: 50vh;
  overflow: auto;
}

.btn-save {
  z-index: 1300;
}

.table .published {
  color: #63A375;
  font-size: 1.5rem;
}

.table .unpublished {
  color: #DA4167;
  font-size: 1.5rem;
}

.table .type-content {
  position: relative;
}

.table .type-content .btn-destroy {
  z-index: 100;
  position: absolute;
  right: -30px;
  top: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
}

.table .type-content:hover .btn-destroy {
  display: block;
}

.type-content {
  position: relative;
  position: relative;
}

.type-content .btn-destroy {
  z-index: 100;
  position: absolute;
  right: -30px;
  top: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
}

.type-content:hover .btn-destroy {
  display: block;
}

.type-content .btn-edit {
  z-index: 100;
  position: absolute;
  right: 10px;
  top: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: none;
}

.type-content:hover .btn-edit {
  display: block;
}

#field-manage-script section {
  position: relative;
}

#field-manage-script section .remove-field-button {
  color: #DA4167;
  position: absolute;
  top: 30%;
  right: 0;
}

#field-manage-script section .remove-field-button:hover {
  cursor: pointer;
  color: #FF6B35;
}

#field-manage-script section .up-button {
  color: #63A375;
  position: absolute;
  top: 15px;
  left: 0;
}

#field-manage-script section .up-button:hover {
  cursor: pointer;
  color: #b2c6de;
}

#field-manage-script section .down-button {
  color: #63A375;
  position: absolute;
  bottom: 50px;
  left: 0;
}

#field-manage-script section .down-button:hover {
  cursor: pointer;
  color: #b2c6de;
}

#field-manage-script section .field-editor:hover {
  cursor: pointer;
}

#add-field-button {
  font-size: 2em;
}

#add-field-button:hover {
  cursor: pointer;
  color: #002FA7;
}

#modalFieldEditor .unit {
  width: 100%;
}

