@font-face {
  font-family: 'cuprum';
  src: url(/fonts/Cuprum-Regular-webfont.eot?f63f41c6b4686eb96b99a0356e9feab7);
  src: url(/fonts/Cuprum-Regular-webfont.eot?f63f41c6b4686eb96b99a0356e9feab7) format("embedded-opentype"), url(/fonts/Cuprum-Regular-webfont.woff?8b055f01b73ad5dc771b2428fdecc34e) format("woff"), url(/fonts/Cuprum-Regular-webfont.ttf?23013f8c3bf5119ab1433b93d0d3ce03) format("truetype"), url(/fonts/Cuprum-Regular-webfont.svg?bdeae6fbe3174f09de582b271ca5e2c9) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cuprum';
  src: url(/fonts/Cuprum-Bold-webfont.eot?267b51f6715e346626796cc58454471c);
  src: url(/fonts/Cuprum-Bold-webfont.eot?267b51f6715e346626796cc58454471c) format("embedded-opentype"), url(/fonts/Cuprum-Bold-webfont.woff?995e7dd7895c05f225158c6d5d5328a7) format("woff"), url(/fonts/Cuprum-Bold-webfont.ttf?10afcba4d58d3f9f6d54ba291379e6b1) format("truetype"), url(/fonts/Cuprum-Bold-webfont.svg?7b7066f2e647926ea28aeddbcf37e164) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cuprum';
  src: url(/fonts/Cuprum-Italic-webfont.eot?d58b7fb4f75de6cae622b6be12fb550b);
  src: url(/fonts/Cuprum-Italic-webfont.eot?d58b7fb4f75de6cae622b6be12fb550b) format("embedded-opentype"), url(/fonts/Cuprum-Italic-webfont.woff?0191e1db3321354968742a409239713e) format("woff"), url(/fonts/Cuprum-Italic-webfont.ttf?5a19935d9f1f846b2e430e283ab84bd6) format("truetype"), url(/fonts/Cuprum-Italic-webfont.svg?9aa812bc6523573046be283818ebd75d) format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'cuprum';
  src: url(/fonts/Cuprum-BoldItalic-webfont.eot?4181731b193b47e6b239ff1106774289);
  src: url(/fonts/Cuprum-BoldItalic-webfont.eot?4181731b193b47e6b239ff1106774289) format("embedded-opentype"), url(/fonts/Cuprum-BoldItalic-webfont.woff?844f16d5a3990249a175aa1af4115b50) format("woff"), url(/fonts/Cuprum-BoldItalic-webfont.ttf?c38684ddbb38ee252ac8dfbcdf1914f2) format("truetype"), url(/fonts/Cuprum-BoldItalic-webfont.svg?c15fda6e2c99c753726a40fde15e48fb) format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'quantico';
  src: url(/fonts/Quantico-Regular-webfont.eot?2be623cab2e6f9315651a299ee196242);
  src: url(/fonts/Quantico-Regular-webfont.eot?2be623cab2e6f9315651a299ee196242) format("embedded-opentype"), url(/fonts/Quantico-Regular-webfont.woff?0583fdde25c011611c5445d79f1b8275) format("woff"), url(/fonts/Quantico-Regular-webfont.ttf?908d7f02d11e5574d29bdcb07f9d8408) format("truetype"), url(/fonts/Quantico-Regular-webfont.svg?fbf82ccab6b378f678a49bcb911dde15) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quantico';
  src: url(/fonts/Quantico-Bold-webfont.eot?7a04a86250ad1585b85f11e68dba5179);
  src: url(/fonts/Quantico-Bold-webfont.eot?7a04a86250ad1585b85f11e68dba5179) format("embedded-opentype"), url(/fonts/Quantico-Bold-webfont.woff?45c594f880282eb1d6a644834413ab28) format("woff"), url(/fonts/Quantico-Bold-webfont.ttf?4744e47b3f9ecfa433719d2ec62144fb) format("truetype"), url(/fonts/Quantico-Bold-webfont.svg?b99cabdaafea1a84be70e86eabbf867d) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'quantico';
  src: url(/fonts/Quantico-Italic-webfont.eot?cac768e274dde8b994fdc5eb767e1dae);
  src: url(/fonts/Quantico-Italic-webfont.eot?cac768e274dde8b994fdc5eb767e1dae) format("embedded-opentype"), url(/fonts/Quantico-Italic-webfont.woff?427553ffd1ad981681ee4a4e083bb756) format("woff"), url(/fonts/Quantico-Italic-webfont.ttf?29ede1d17ede0c705c6784457cb1a7fb) format("truetype"), url(/fonts/Quantico-Italic-webfont.svg?944d5dd5dd08596c66796db273418064) format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'quantico';
  src: url(/fonts/Quantico-BoldItalic-webfont.eot?239f3a95be7cd131eea412fac58df9c5);
  src: url(/fonts/Quantico-BoldItalic-webfont.eot?239f3a95be7cd131eea412fac58df9c5) format("embedded-opentype"), url(/fonts/Quantico-BoldItalic-webfont.woff?ab95e2d68ef6999c4c7d7191be9d0bee) format("woff"), url(/fonts/Quantico-BoldItalic-webfont.ttf?d1a097fa0b96fd149afbd5b842e49710) format("truetype"), url(/fonts/Quantico-BoldItalic-webfont.svg?fa0356df27e9310adb840a2afb1e711e) format("svg");
  font-weight: bold;
  font-style: italic;
}

.fancy {
  display: inline-block;
  width: 130px;
  margin: 7px;
}

.fancy img {
  -webkit-box-shadow: 10px 10px 30px #232729;
          box-shadow: 10px 10px 30px #232729;
  width: 100%;
}

.fancy img.rond {
  border-radius: 50%;
}

