// Body
$body-bg: #180E0D;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$blue: #002FA7;
$cyan: #3097D1;//#8eb4cb
$green: #63A375;
$yellow: #FF6B35;//#cbb956
$red: #DA4167;//#EF476F;//#bf5329

//#EDF7F6, #EBEBEB, #E7ECEF

$white: #FDFFFC;
$sable: lighten(#FFFF82, 10%);
$light-gray:#a3a3a3;
$dark-gray:#25313F;
$light-black:#232729;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$font-family-serif: 'Spectral', Georgia, Times, serif;
$font-family-sans-serif: 'Faune', Helvetica, Arial, sans-serif;
$font-family-base: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-base: 1rem;
$line-height-base: 1.5;
$spacer: 2rem;
$margin-base: 1.5rem;
$text-color: #fff;//#636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-width: 250px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($blue, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//cinessone
$nav-background-color: #000000;//#343A40;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;
