@font-face {
    font-family: 'cuprum';
    src: url('/fonts/Cuprum-Regular-webfont.woff') format('woff'),
         url('/fonts/Cuprum-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cuprum';
    src: url('/fonts/Cuprum-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/Cuprum-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}
@font-face {
    font-family: 'cuprum';
    src: url('/fonts/Cuprum-Bold-webfont.woff') format('woff'),
         url('/fonts/Cuprum-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'cuprum';
    src: url('/fonts/Cuprum-Italic-webfont.woff') format('woff'),
         url('/fonts/Cuprum-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'quantico';
    src: url('/fonts/Quantico-Regular-webfont.woff') format('woff'),
         url('/fonts/Quantico-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quantico';
    src: url('/fonts/Quantico-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/Quantico-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}
@font-face {
    font-family: 'quantico';
    src: url('/fonts/Quantico-Bold-webfont.woff') format('woff'),
         url('/fonts/Quantico-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'quantico';
    src: url('/fonts/Quantico-Italic-webfont.woff') format('woff'),
         url('/fonts/Quantico-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

// Body
$body-bg: #180E0D;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$blue: #002FA7;
$cyan:    #b2c6de;/*17a2b8*/
$green: #63A375;
$yellow: #FF6B35;//
$red: #DA4167;//#EF476F;
$orange: #EBEBEB;//#bf5329;

//#cbb956, #EDF7F6, #E7ECEF

$white: #FDFFFC;
$sable: lighten(#FFFF82, 10%);
$light-gray:#a3a3a3;
$dark-gray:#454545;
$light-black:#232729;

// Typography
$font-family-serif: Georgia, Times, serif;
$font-family-titles: 'quantico', Helvetica, Arial, sans-serif;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-admin: 'cuprum', monospace;
$font-size-base: 1rem;
$line-height-base: 1.5;
$spacer: 2rem;
$margin-base: 1.5rem;
$text-color: #fff;//#636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-width: 250px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($blue, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//cinessone
$nav-background-color: #000000;//#343A40;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;
