@font-face {
    font-family: 'dejavu_sans';
    src: url('fonts/DejaVuSansMono-webfont.eot');
    src: url('fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSansMono-webfont.woff') format('woff'),
         url('fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu_sans';
    src: url('fonts/DejaVuSansMono-Bold-webfont.eot');
    src: url('fonts/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSansMono-Bold-webfont.woff') format('woff'),
         url('fonts/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSansMono-Bold-webfont.svg#dejavu_sans_monobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu_sans';
    src: url('fonts/DejaVuSansMono-BoldOblique-webfont.eot');
    src: url('fonts/DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
         url('fonts/DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSansMono-BoldOblique-webfont.svg#dejavu_sans_monobold_oblique') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'dejavu_sans';
    src: url('fonts/DejaVuSansMono-Oblique-webfont.eot');
    src: url('fonts/DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSansMono-Oblique-webfont.woff') format('woff'),
         url('fonts/DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSansMono-Oblique-webfont.svg#dejavu_sans_monooblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Body
$body-bg: #111333;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$blue: #002FA7;
$cyan: #3097D1;//#8eb4cb
$green: #63A375;
$yellow: #FF6B35;//#cbb956
$red: #DA4167;//#EF476F;//#bf5329

//#EDF7F6, #EBEBEB, #E7ECEF,#180E0D

$white: #FDFFFC;
$sable: lighten(#FFFF82, 10%);
$light-gray:#a3a3a3;
$dark-gray:#25313F;
$light-black:#232729;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$font-family-serif: Georgia, Times, serif;
$font-family-sans: 'dejavu_sans', Helvetica, Arial, sans-serif;
$font-family-base: sans-serif, arial, monospace;
$font-size-base: 1rem;
$line-height-base: 1.5;
$spacer: 2rem;
$bannier-height: 15rem;
$margin-base: 1.5rem;
$text-color: #180E0D;//#636b6f;
$text-background: #EBEBEB;

// Navbar
$navbar-default-bg: #fff;
$navbar-width: 250px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($blue, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//cinessone
$nav-background-color: #000;//#343A40;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;
