// Bootstrap already imported with style.css
//@import "~bootstrap/scss/bootstrap";
// Variables
@import "_variables";
@import '_mixins';

.rubrique-container{
  @include destroy_button(95%, -5px);
  @include publish_button(91%, -5px);
}

.after-rubrique{
  [class*="col-"]{
    transition: all 0.8s ease;
    @include destroy_button(0px, -5px);
  }
  .row{
    position: relative;
    .bloc-button,.cols-button{
      font-size: initial;
      position: absolute;
      top: -3*$spacer;
      z-index: 1300;
      .dropdown-menu{
        right: 0;
        left: inherit;
        text-shadow: none;
      }
    }

    .bloc-button{
      right: 0px;
      .select-gallery{
        max-width: 100%;
      }
    }

    .cols-button{
      right: 130px;
    }
    .dropdown-item{
      cursor: default;
    }
  }
}

#replacement{
  color: black;
}

#sidebar {
  font-family: $font-family-base;
  background-color: lighten($dark-gray, 5%);
  color: $white;
  min-width: $navbar-width;
  max-width: $navbar-width;
  min-height: 100vh;
  transition: all 0.3s;
  margin-left: -$navbar-width;
  z-index: 2000;
  a{
    color: $white;
  }
  &.active{
    margin-left: 0px;
  }
  #fixed-sidebar{
    position: fixed;
    width: $navbar-width;
    z-index: 500;
    top: -30px;
    .sidebarCollapse.btn{
      position: relative;
      right: -270px;
      top: 90px;
    }
    .chevron:hover{
      opacity: 0.7;
    }
  }
  .sidebar-header{
    text-align: center;
    padding: 20px;
    background: $dark-gray;
  }
  ul{
    &.components {
      padding: 20px 0;
    }
    h4{
      text-align: center;
      padding: 10px;
    }
    li{
      font-size: $font-size-base;
      a{
        color: $white;
        padding: 10px;
        font-size: 1.1em;
        display: block;
        cursor: pointer;
        &:hover{
          color: $dark-gray;
          background: $light-gray;
        }
      }
    }
    /*li.active > a, a[aria-expanded="true"] {
      color: $white;
      background: #6d7fcc;}*/
    ul{
      a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background-color: lighten($dark-gray, 15%);
      }
      ul a{
        background: lighten($dark-gray, 5%);
      }
    }
    .sidebarCollapse{
      text-align: right;
      font-size: 1.8em;
      margin-right: 15px;
      cursor: pointer;
    }
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-item{
    cursor: pointer;
  }
}

#drag-mode{
  .dropy{
    img{
      max-width: 100%;
      height: auto;
    }
    iframe{
      max-width: 100%;
    }
  }

  .dropy{
    transform: scale(0.8,0.8);
    height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    .upper{
      position: absolute;
      z-index: 2000;
      width: 100%;
      height: 100%;
    }
  }

  .large-bloc .dropy{
    height: 60px;
  }

  .dropzone{
    flex: none;
  }

  .indropzone{
    border: 1px $light-gray solid;
  }
}

.bootstrap-datetimepicker-widget .table{
  background-color: unset;
}

.mce-edit-focus{
  border: 1px $light-gray solid;
}

.tox-tinymce-inline{
  z-index: 500;
}

#categories-checkbox, #categories-container{
  max-height: 50vh;
  overflow: auto;
}

.btn-save{
  z-index: 1300;
}

.table{
  .published{
    color: $green;
    font-size: $font-size-base*1.5;
  }
  .unpublished{
    color: $red;
    font-size: $font-size-base*1.5;
  }
  .type-content{
    @include destroy_button(-30px, 9px);
  }
}

.type-content{
    @include destroy_button(-30px, 9px);
    @include edit_button(10px, 9px);
}

#field-manage-script{
  section{
    position: relative;
    .remove-field-button{
      color: $red;
      position: absolute;
      top: 30%;
      right: 0;
      &:hover{
        cursor: pointer;
        color: $yellow;
      }
    }
    .up-button{
      color: $green;
      position: absolute;
      top: 15px;
      left: 0;
      &:hover{
        cursor: pointer;
        color: $cyan;
      }
    }
    .down-button{
      color: $green;
      position: absolute;
      bottom: 50px;
      left: 0;
      &:hover{
        cursor: pointer;
        color: $cyan;
      }
    }
    .field-editor:hover{
      cursor: pointer;
    }
  }
}

#add-field-button{
  font-size: 2em;
  &:hover{
    cursor: pointer;
    color: $blue;
  }
}

#modalFieldEditor{
  .unit{
    width: 100%;
  }
}

.form-control {
	height: unset;
}
