// Variables
@import "_variables";

@import '_mixins';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
	//background:lighten($cyan, 10%);
	background: $body-bg;
  display: flex;
  align-items: stretch;
  font-family: $font-family-sans;
  font-size: $font-size-base;
}

//admin-sidebar
#global-wrapper {
  width: 100%;
  //min-height: 100%;
}

/*
@include media-breakpoint-up(sm) {
  #sidebar {
      margin-left: -$navbar-width;
  }
  #sidebar.active {
      margin-left: 0;
  }
}*/
[class*="col-"]{
  img{
    max-width: 100%;
    height: auto;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-item{
  cursor: pointer;
}

.head {
	//#logo, #sm-logo {
    //height: $spacer*3;
    //img{
      //max-height: 70%;
      //width: auto;
    //}
		//@include media-breakpoint-up(lg) {
      //height: $spacer*5;
		//}
	//}

  background-color: $light-black;

  .navbar{
    color: $white;
    font-size: $font-size-base;
    padding: unset;
    a{
      transition:all 0.4s ease;
      color: $light-gray;
      &:hover{
        color: $white;
      }
    }
    .nav-item{
      white-space: nowrap;
      margin: $margin-base/2;
      &.active{
        a{
          color: $white;
        }
      }
    }
    ul{
      width: 100%;
      margin-right: $spacer;
    }
  }

	.navbar-toggler{
    color: $white;
	}

	h1 {
		display: block;
		background-position: left top;
		background-repeat: no-repeat;
		@include retinize('logo', 'png', 183px, 64px);
		@include size(183px, 64px);
		//text-indent: -9999px;
	}	
}

@include media-breakpoint-up(sm) {
	#start-content {
		padding-top:80px;
	}
}

h2, .h2-like {
	margin:$line-height-base*1px 0 $line-height-base*1px 0;
}

p.lead {
	padding:$line-height-base*1px 0 ($line-height-base*2px) 0;
	font-size:$font-size-base*1.075;
  @include media-breakpoint-up(lg) {
		font-size: $font-size-base*1.1;
	}
}

.main-container{
  &.error{
    padding-top: $line-height-base*25vh;
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh;
    color:#fff;
    text-shadow: 2px 2px 8px $dark-gray;
    font-size: $font-size-base;
    text-align: center;
    a {
      color:#fff;
    }
    h1{
      font-size: $font-size-base * 4;
      font-weight:600;

      @include media-breakpoint-down(sm) {
        font-size: $font-size-base * 3;
      }
    }
  }
  //.overlay{
    //background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  //}
 }

div.heading {
  //background-attachment: fixed;
  margin-top: $margin-base;
  background-repeat: no-repeat; 
  background-size: 210%; 
  background-position: center;
  position: relative;
	//font-family: $font-family-sans;
	font-size: ($font-size-base);
	//font-weight:600;
	display:block;
	//line-height:($line-height-base*12rem);
	text-align: center;
	color:#fff;
  text-shadow: 2px 2px 8px $dark-gray;

	/* Set a specific height */
  min-height: $bannier-height;
  transition: all 0.8s ease;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base*1.2;
    background-size: 165%; 
  }

  @include media-breakpoint-up(lg) {
    background-size: 120%; 
  }

  @include media-breakpoint-up(xl) {
    background-size: 100%; 
  }

  h1{
    font-size: $font-size-base * 4;
    font-weight:600;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-base * 3;
    }
  }

}

/*.more {
  position:relative;
  top: -5*$spacer;
  background-image: url("/images/chevron_bas_w.svg");
  background-position: center 0.6em;
  background-repeat: no-repeat;
  background-size: 50%;
  border: 1px solid #fff;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  width: $line-height-base*1em;
  height: $line-height-base*1em;
  text-indent: 4em;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  margin: auto;
  font-size: $font-size-base * 3;
  box-shadow: 2px 2px 8px $dark-gray;
  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
}*/

footer {
  background-color: $text-background;
	font-size: ($font-size-base);
  color: $text-color;
  //text-align: center;
	margin-top:($line-height-base*4px);
  margin-bottom: $spacer;
	//padding:$line-height-base*1px 0 ($line-height-base*2px) 0;

  .footer-item{
    margin-top: $spacer;
  }

  .form-group input{
    font-size: ($font-size-base*2/3);
  }
}

/*** Back to top ***/
.cd-top {
  visibility: hidden;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(#000, .05);
  overflow: hidden; 
  text-indent: 100%;
  white-space: nowrap;
  
  background-position: center center;
	background-repeat: no-repeat;
	@include retinize('cd-top-arrow-light', 'png', 37px, 36px);
	@include size(37px, 36px);
  @include opacity(0);
  @include transition(opacity .3s);
  &.cd-is-visible { /* the button becomes visible */
    visibility: visible;
    @include opacity(1);
    @include transition(transform .3s);
    &:hover{
      transform: translateY(-10px);
    }
  }
  &.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
       @include opacity(.5);
  }
  .no-touch &:hover {
      
      @include opacity(1);
  }
}

.card-header{
  text-align: center;
  h1{
      line-height: 50px;
    }
  }

.card-body{
  a.pw-change{
    color: $cyan;
    cursor: pointer;
  }
}

.form-group.last{
  margin-top: $spacer;
}

#upform{
  z-index: 100;
  .row{
    margin: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #82b7ec;
    border-radius: 3px;
    box-shadow: none;
  }
  #preview{
    min-height: 150px;
    img{
      max-width: 100%;
    }
  }
}

.after-rubrique{
  padding: $spacer;
  color: $text-color;
  width: 100%;
  &.not-empty{
    background-color: $text-background;
  }
  .row{
    position: relative;
    .bloc-button,.cols-button{
      font-size: initial;
      position: absolute;
      left: -130px;
      .dropdown-menu{
        right: 0;
        left: inherit;
        text-shadow: none;
      }
    }

    .bloc-button{
    }

    .cols-button{
      top: 45px;
    }

    img{
      max-width: 100%;
      height: auto;
    }
    iframe{
      width: 100%;
    }
  }
}

.after-rubrique{
  [class*="col-"]{
    transition: all 0.8s ease;
    @include destroy_button(-15px, -5px);
    margin-bottom: $spacer;
  }
  .type-content{
    @include destroy_button(-25px, 8px);
  }
}

.rubrique-container{
  @include destroy_button(15px, 15px);
}

.fa-cog{
  display: none;
}

.center-card{
  justify-content: center;
  //align-items: center;
  //min-height: 80vh;
  margin-block-start: 5vh;
}

.mce-edit-focus{
  border: 1px $light-gray solid;
}

.articles{
  .titre{
    display: block;
    margin-bottom: $line-height-base*1rem;
  }
  p{
    margin: 0;
  }
}

#replacement{
  input#image{
    min-height: 3.2rem;
  }
}
.fancy{
  display: inline-block;
  img{
    //display: block;
    //margin: auto;
    box-shadow: 10px 10px 30px $light-black;
    width: 100%;
    &.rond{
      border-radius: 50%;
    }
  }
}
