// Variables
@import "variables";

@import '_mixins';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
	//background:lighten($cyan, 10%);
	background: $body-bg;
  display: flex;
  align-items: stretch;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

a{
  color: $sable;
  text-decoration: none;
  &:hover{
    color: $white;
  }
}

#global-wrapper {
  width: 100%;
  .error{
    min-height: 100vh;
  }
}

.head {
  .sidebarCollapse{
    position: fixed;
    z-index: 500;
    top: 200px;
  }
	
	#logo {
    margin: $spacer;
    transition: all 0.3s ease;
    height: $spacer*6;
    img{
      max-height: 100%;
      width: auto;
    }
	}

	transition:all 1s ease;

  .navbar{
    color: $white;
    font-size: 1.3em;
    padding-top: 0;
    //a{
      //color: $white;
    //}
    //.nav-item{
      //white-space: nowrap;
      //margin: 0 $margin-base/2 $margin-base/2 $margin-base/2;
      //&.active{
        ////background: linear-gradient(to top right, $green, white);
        //border-bottom: 4px $white solid;
      //}
      //&:hover{
        //border-bottom: 4px $sable solid;
      //}
    //}
    ul{
      width: 100%;
    }

    .navbar-toggler{
      color: $white;
    }
    .navbar-nav{
      flex-direction: row;
    }

    .svg-wrapper {
      //height: 60px;
      //width: 320px;
      margin: 0 $spacer 0 $spacer;
      position: relative;

      a{
        color: $white;
      }

     svg {
       height: 60px;
       width: 110px;
        .shape {
          transition: all 0.5s ease;
          fill: transparent;
          stroke-dasharray: 70 200;
          stroke-dashoffset: -190;
          stroke-width: 0px;
          stroke: $white;
          &.active{
            stroke-width: 2px;
          }
        }
      }

      .text {
        position: absolute;
        left: 50%;
        top: 18%;
        transform: translate(-50%);
        white-space: nowrap;
      }

      &:hover .shape {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 4px;
        &.active{
          stroke-width: 4px;
        }
      }
    }
  }

	h1 {
		display: block;
		background-position: left top;
		background-repeat: no-repeat;
		@include retinize('logo', 'png', 183px, 64px);
		@include size(183px, 64px);
		//text-indent: -9999px;
	}	

	&.scrolled {
  		height: ($line-height-base*3px);
  		margin-bottom: 3em;
  		position:fixed;
  		background:white;
  		z-index: 1000;
  		width: 100%;
		padding:$line-height-base*1px;

		nav {
			ul {
				margin:$line-height-base*1px 0 0 0;
				@include media-breakpoint-up(sm) {
					margin:0;
				}
				li {
					display: inline-block;
          @include media-breakpoint-down(sm) {
						padding: 0;
					}

					font-size:($font-size-base*0.85);
				}
			}
		}

		h1 {
			@include retinize('logo-petit', 'png', 117px, 41px);
			@include size(117px, 41px);
		}

		font-size: ($font-size-base*0.5);

	}
}


@include media-breakpoint-up(sm) {
	#start-content {
		padding-top:80px;
	}
}

h2, .h2-like {
	margin:$line-height-base*1px 0 $line-height-base*1px 0;
}

p.lead {
	padding:$line-height-base*1px 0 ($line-height-base*2px) 0;
	font-size:$font-size-base*1.075;
  @include media-breakpoint-up(lg) {
		font-size: $font-size-base*1.1;
	}
}

div.heading {
  padding: $line-height-base*12vh 0 $line-height-base*18vh ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	// font-family: $font-family-serif;
	font-size: ($font-size-base*1.2);
	//font-weight:600;
	display:block;
	//line-height:($line-height-base*12rem);
	text-align: center;
	color: $orange;
  text-shadow: 2px 2px 4px $light-black, -2px -2px 4px $light-black;
	/* Set a specific height */
  min-height: ($line-height-base*12px);
  transition: all 0.8s ease;

  h1{
    letter-spacing: 8px;
    font-size: $font-size-base * 4;
    font-weight:600;
  }

  .overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8));
  }

  @include media-breakpoint-down(lg) {
    padding: $line-height-base*10vh 0 $line-height-base*15vh ;
  }

  @include media-breakpoint-down(md) {
    padding: $line-height-base*8vh 0 $line-height-base*13vh ;
    h1{
    font-size: $font-size-base * 3;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: $line-height-base*7vh 0 $line-height-base*11vh ;
    h1{
    font-size: $font-size-base * 2.5;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: $line-height-base*5vh 0 $line-height-base*8vh ;
    h1{
      font-size: $font-size-base * 2;
      letter-spacing: normal;
    }
  }
}

#replacement .card{
  z-index: 30;
}

.svg-more{
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%,0);
  z-index: 25;
  width: 80px;
  height: 80px;
  circle{
    transition: all 0.8s ease;
    opacity:1;
    fill:$black;
    fill-opacity:0.4;
    stroke:$white;
    stroke-width:7;
    stroke-linecap:round;
    stroke-dasharray:260 60;
    stroke-dashoffset:-30;
    stroke-opacity:1;
    paint-order:normal;
  }
  .chevron{
    transition: all 0.8s ease;
    transform: matrix(1.1,0,0,1.4,-1.6,-68);
  }
  rect{
    transition: all 0.8s ease;
     fill:$white;
     //opacity:1;
     //fill-opacity:1;
     //stroke:none;
     //stroke-width:7.09533501;
     //stroke-linecap:round;
     //stroke-miterlimit:4;
     //stroke-dasharray:56.76267898,28.3813395;
     //stroke-dashoffset:0;
     //stroke-opacity:1
  }
  &:hover{
    circle{
      fill-opacity:0.8;
      stroke:$orange;
      stroke-dasharray:150 63;
      stroke-dashoffset:-400;
    }
    .chevron{
      stroke:$orange;
      transform: matrix(1.1,0,0,1.4,-1.6,-35);
    }
    rect{
       fill:$orange;
    }
  }
  @include media-breakpoint-down(md) {
    width: 60px;
    height: 60px;
    bottom: 15%;
  }
  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;
    bottom: 10%;
  }
  @include media-breakpoint-down(xs) {
    width: 40px;
    height: 40px;
  }
}

footer {
  background-color: $light-black;
	font-size: ($font-size-base);
  color: $white;
  line-height : $line-height-base;
	margin:($line-height-base*4px) 0 0 0;
	padding:$line-height-base*1px 0 ($line-height-base*2px) 0;

  a{
    color: $white;
    text-decoration: none;
    &:hover{
      color: $white;
    }
  }

  h2{
    font-size: $font-size-base * 2.5;
    font-weight:600;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-base * 2;
    }
  }

  .footer-item{
    opacity: 0.5;
    margin: $spacer auto $spacer auto;
  }

  ul{
  }

  li{
    .circle-border{
      transition: all 0.3s ease;
      width: $line-height-base*3rem;
      font-size: $font-size-base*1.5;
      border-radius: 50%;
      //border: 1px $white solid;
      color: $white;
      padding: $spacer/2;
      cursor: pointer;
      &:hover{
        color: $black;
        background-color: rgba(255,255,255,0.5);
      }
    }
  }
}

/*** Back to top ***/
.cd-top {
  //visibility: hidden;
  position: fixed;
  bottom: 40px;
  right: -50px;
  z-index: 10000;
  overflow: hidden; 
  text-indent: 100%;
  white-space: nowrap;
  
  background-position: center center;
	background-repeat: no-repeat;
  background-image: url('/images/module-art/chevron-circle-up-light.svg');
	@include size(47px, 46px);
  @include opacity(0);
  @include transition(all .3s);
  &.cd-is-visible { /* the button becomes visible */
    right: 50px;
    //visibility: visible;
    @include opacity(1);
    @include transition(all .3s);
    &:hover{
      transform: translateY(-10px);
    }
    @include media-breakpoint-down(sm) {
      right: 25px;
    }
  }
  &.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
       @include opacity(.7);
  }
  .no-touch &:hover {
      @include opacity(1);
  }
}

.card-header{
  text-align: center;
  h1{
      line-height: 50px;
    }
  }

.card-body{
  a.pw-change{
    color: $cyan;
    cursor: pointer;
  }
}

.form-group.last{
  margin-top: $spacer;
}

#upform{
  z-index: 100;
  .row{
    margin: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #82b7ec;
    border-radius: 3px;
    box-shadow: none;
  }
  #preview{
    min-height: 150px;
    img{
      max-width: 100%;
    }
  }
}

.after-rubrique{
  [class*="col-"]{
    transition: all 0.8s ease;
    margin-bottom: $spacer;
  }
  [id*="blocs-rubrique"]{
    padding-top: $spacer;
  }
  color: $text-color;
  .row{
    position: relative;
    img{
      max-width: 100%;
      height: auto;
    }
    iframe{
      width: 100%;
    }
  }
}

.rubrique-container{

  font-family: $font-family-titles;
  @include destroy_button(15px, 15px);

  .dark-left, .dark-right{
    position: absolute;
    bottom: -14%;
    height: 28%;
    width: 60%;
    background-color: $body-bg;
  }
  .dark-left{
    left: -20px;
    transform: rotate(7deg);
  }
  .dark-right{
    right: -20px;
    transform: rotate(-7deg);
  }
}

.fa-cog{
  display: none;
}

#video-container{
  padding-top: 1.5rem;
  #bgvid {
    width: 100%; 
    height: auto;
    border-radius: 49%;
  }
}

#contact{
  margin-bottom: $spacer;
  #form-contact{
    .fa-cog{
      display: none;
    }
  }
}

.table{
  img{
    max-width: 250px;
    height: auto;
  }
}

.large-bloc.type-content{
  img{
    max-width: 100%;
    height: auto;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 500px;
    @include media-breakpoint-down(md) {
      width: 600px;
      height: 400px;
    }
    @include media-breakpoint-down(sm) {
      width: 500px;
      height: 300px;
    }
    @include media-breakpoint-down(xs) {
      width: 300px;
      height: 200px;
    }
  }
}

.center-card{
  justify-content: center;
  align-items: top;
  min-height: 60vh;
}
